<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>RedWing Top Page </title>
</head>
<h1>Reg Wing Tasks !!</h1>

<ol>
<li>062 <a href="/redwing">Top Page</a> and<a href="top.html">Static page </a></li>
<li>063 <a href="bmi/bmiInput.html">From here </a> start a simple form</li>
<li>064 <a href="calc/buyBooks">RequestParam</a>are used as form input</li>
<li>065 <a href="rec/dailyRec">Validation & ModelAttribute</a>form values summary</li>
<li>066-1 <a href="lineMemo/top">Todo</a>Memo</li>
<li>066-2 <a href="museum/top">Dto & Mapper</a>Applications</li>
<li>067-1 <a href="rent1/rentCar1">hidden</a>Values Practie</li>
<li>067-2 <a href="rent2\rentCar1">HttpSession</a>Session Practice</li>
<li>067-3 <a href="rent3\rentCar1">SessionAttribute</a>Session Practice</li>
<li>068 <a href="room/login">interceptor</a>Filter Practice</li>
<li>069-1 <a href="api/artist/csv/6">WebAPI & csv </a></li>
<li>069-2 <a href="api/artist/json/6">WebAPI & json</a></li>
<li>069-3 <a href="api/artist/json/searchKey/BA>WebAPI">WebApi</a>Search </li>
<li>069-4 <a href="registerAlbum.html">json based</a>post API</li>

</ol>
<hr/>
</body>
</html>